__pycache__/
*.pyc
*.pyo
.env
wandb/
*.safetensors
*.bin
*.pth
*.parquet
data/exp*/*.jsonl
data/exp*/*.csv
checkpoints/
logs/
*.aux
*.log
*.out
*.blg
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
